<% @places.each do |place| %>
    <b>Id: </b><%= place.id %>
    <b>Title: </b>
    <a href="/places/<%= place.id %>"><%= place.name %></a>
    <b>Description: </b><%= place.description %><br>
    <hr>
<% end %>

<%= link_to "Categories", categories_path %>
<%= link_to "New Place", new_place_path %>
