<h4>Display Place</h4>

<b>Id: </b><%= @place.id %><br />
<b>Name: </b><%= @place.name %><br />
<b>Description: </b><%= @place.description %><br />
<b>Category: </b><%= @place.category.title %><br />
<br/><br/>
<a href="/places">Back to place list</a>
<% if current_owner.present? %>
  <% if current_owner.id == @place.owner_id %>
    <a href="<%= edit_place_path(@place) %>">Edit</a>
    <%=link_to "Delete", place_path(@place), method: :delete, data: {confirm:  "Are you sure?"} %>
  <% end %>
<% end %>
<hr>
<h4>Comments</h4>
<% @place.comments.each do |comment| %>
  <p><%= comment.body%></p>
<% end %>
<p><i><b>Write a comment:</b></i></p>
<%= render 'comments/form'%>